# ==============================
# Java / Maven
# ==============================
target/
*.class

# ==============================
# Eclipse
# ==============================
.classpath
.project
.settings/

# ==============================
# IntelliJ IDEA
# ==============================
.idea/
*.iml

# ==============================
# Angular / Node
# ==============================
node_modules/
dist/
.angular/
.cache/

# ==============================
# Environment Files
# ==============================
.env
.env.*

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================
*.log